<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css">
        
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">RPI Car</a>
    </nav>
    <div class="container-fluid jumbotron" style="height: 100%;">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <h4 class="card-header">Data</h4>
                    <div class="card-body">
                        Forward: <span id="forwardValue">0</span><br>
                        Left: <span id="leftValue">0</span><br>
                        Right: <span id="rightValue">0</span><br>
                        Reverse: <span id="reverseValue">0</span>
                    </div>
                </div>
            </div>
            <div class="col-md-9 p-5">
                <center>
                    <button class="btn btn-primary" onmousedown="move('forward', 1)" onmouseup="move('forward', 0)">Forward</button>
                </center>
                <br>
                <center>
                    <button class="btn btn-primary m-5" onmousedown="move('left', 1)" onmouseup="move('left', 0)">Left</button>
                    <img style="width: 20%;" src="{{ url_for('static', filename='car.png') }}">
                    <button class="btn btn-primary m-5" onmousedown="move('right', 1)" onmouseup="move('right', 0)">Right</button>
                </center>
                <br>
                <center>
                    <button class="btn btn-primary" onmousedown="move('reverse', 1)" onmouseup="move('reverse', 0)">Reverse</button>
                </center>                
            </div>
        </div>
    </div>

    <style>
        body
        {
            overflow: hidden;
        }
    </style>

    <script>

        let socket;
        $(document).ready(function() {
            socket = io.connect('/');

            socket.on('connect', function() {
                //socket.emit('connect', 'Connected emit');
            });

            socket.on('move', function(data) {
                console.log(data);
                for (k in data)
                {
                    switch(k)
                    {
                        case 'forward': $("#forwardValue").text(data[k]); break;
                        case 'left': $("#leftValue").text(data[k]); break;
                        case 'right': $("#rightValue").text(data[k]); break;
                        case 'reverse': $("#reverseValue").text(data[k]); break;
                    }
                }
                
            })

        });

        function move(direction, value)
        {
            socket.emit('move', {direction, value});
        }

    </script>
</body>
</html>