<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css">
        
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">RPI Car</a>
    </nav>
    <div class="container-fluid jumbotron" style="height: 100%;">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <h4 class="card-header">Data</h4>
                    <div class="card-body">
                        Throttle: <input type="number" id="throttleValue"><br>
                        Steer: <input type="number" id="steerValue"><br>
                    </div>
                </div>
            </div>
            <div class="col-md-9 p-5">
                <center>
                    <button class="btn btn-primary" ontouchstart="move('throttle', 1)" ontouchend="move('throttle', 0)" onmousedown="move('throttle', 1)" onmouseup="move('throttle', 0)">Forward</button>
                </center>
                <br>
                <center>
                    <button class="btn btn-primary m-5" ontouchstart="move('steer', -1)" ontouchend="move('steer', 0)" onmousedown="move('steer', -1)" onmouseup="move('steer', 0)">Left</button>
                    <img style="width: 20%;" src="{{ url_for('static', filename='car.png') }}">
                    <button class="btn btn-primary m-5" ontouchstart="move('steer', 1)" ontouchend="move('steer', 0)" onmousedown="move('steer', 1)" onmouseup="move('steer', 0)">Right</button>
                </center>
                <br>
                <center>
                    <button class="btn btn-primary" ontouchstart="move('throttle', -1)" ontouchend="move('throttle', 0)" onmousedown="move('throttle', -1)" onmouseup="move('throttle', 0)">Reverse</button>
                </center>                
            </div>
        </div>
    </div>

    <style>
        body
        {
            overflow: hidden;
        }
    </style>

    <script>

        let socket;
        $(document).ready(function() {
            socket = io.connect('/');

            socket.on('connect', function() {
                //socket.emit('connect', 'Connected emit');
            });

            socket.on('move', function(data) {
                console.log(data);
                for (k in data)
                {
                    switch(k)
                    {
                        case 'throttle': $("#throttleValue").val(data[k]); break;
                        case 'steer': $("#steerValue").val(data[k]); break;
                    }
                }
                
            });

            $("#throttleValue").on('change', function() {
                console.log($("#throttleValue").val());
                move('throttle', $("#throttleValue").val());
            });
            $("#steerValue").on('change', function() {
                console.log($("#steerValue").val());
                move('steer', $("#steerValue").val());
            });

        });

        function move(direction, value)
        {
            socket.emit('move', {direction, value});
        }

    </script>
</body>
</html>